.uiRender {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em;
  margin: 5% auto;
}

.juego {
  width: 550px;
  height: 550px;
  border: 1px solid black;
}

.selectorColores {
  width: 146px;
  height: 520px;
  padding: 1rem;
  border: 1px solid black;
}
