.botonera {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  width: 146px;
  height: 459px;
  border: 1px solid black;
}
#dibujoFondo {
  background-color: darkcyan;
  color: aliceblue;
  width: 80%;
  height: 3rem;
  margin: auto;
}
#colorFondo {
  background-color: darkcyan;
  color: aliceblue;
  width: 80%;
  height: 3rem;
  margin: auto;
}
#limpiar {
  background-color: darkcyan;
  color: aliceblue;
  width: 80%;
  height: 3rem;
  margin: auto;
}

#guardarImagen {
  background-color: darkcyan;
  color: aliceblue;
  width: 80%;  
  height: 3rem;
  margin: auto;
}

#guardarArchivo {
  background-color: darkcyan;
  color: aliceblue;
  width: 80%;  
  height: 3rem;
  margin: auto;
}

#cargar {
  background-color: darkcyan;
  color: aliceblue;
  width: 80%;
  height: 3rem;
  margin: auto;
}
.h2 {
  margin: 10px;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.margin {
  margin: 10px;
}