.botonera {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  width: 146px;
  height: 319px;
  border: 1px solid black;
}
#limpiar {
  background-color: darkcyan;
  color: aliceblue;
  width: 80%;
  height: 3rem;
  margin: auto;
}
#guardar {
  background-color: darkcyan;
  color: aliceblue;
  width: 80%;  
  height: 3rem;
  margin: auto;
}

#cargar {
  background-color: darkcyan;
  color: aliceblue;
  width: 80%;
  height: 3rem;
  margin: auto;
}
